
.form-layout{

    border-radius: 20px;
    width: 500px;
    
}
.dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }


  .dropdown:hover > .dropdown-menu,
  .dropend:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
    margin-left: 0.125em;
  }













