{% extends "store/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <style>
        /* Custom CSS for message styling */
        body {
            text-align: center;
        }
        h1 {
            margin: 3rem;
        }
        .message {
            background-color: lightblue;
            padding: 1rem;
            margin: 0.5rem 20rem 0rem 20rem;
            cursor: pointer;
            border: 1px solid rgb(199, 192, 192);
            border-radius: 10px;
        }

        .message-content {
            margin-top: 1rem;
        }
        .message-read {
            background-color: lightgrey;
        }
    </style>
</head>
<body>
    <h1>Messages</h1>
    {% for message in messages %}
    <div class="message{% if message.read %} message-read{% endif %}" id="read">
        <div class="message-header" data-content-id="message-content-{{ message.pk }}" data-message-id="{{ message.pk }}">
            
            {{ message.subject }} from {{ message.sender.username }} for {{ message.product.title }}
        </div>
        <div class="message-content" id="message-content-{{ message.pk }}" style="display: none;">
            <hr>
            {{ message.body }}
        </div>
    </div>
    {% endfor %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const messageHeaders = document.querySelectorAll('.message-header');

            messageHeaders.forEach(header => {
                header.addEventListener('click', function() {
                    const contentId = this.getAttribute('data-content-id');
                    const content = document.getElementById(contentId);
                    let read = document.getElementById('read');
                    const messageId = this.getAttribute('data-message-id');

                    const csrftoken = getCookie('csrftoken');

                    fetch(`message-detail/${messageId}/`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            header.classList.add('message-read');
                        } else {
                            console.error('Error marking message as read');
                        }
                    })
                    .catch(error => console.error('Error marking message as read:', error));

                    // Toggle the visibility of the message content
                    if (content.style.display === 'none') {
                        content.style.display = 'block';
                        read.style.backgroundColor = 'lightgrey';
                        
                    } else {
                        content.style.display = 'none';
                    }
                });
            });
        });
           // Function to get CSRF token from cookie
           function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</body>
</html>


{% endblock %}
