
{% extends "./base.html" %}

{% load static %}

{% block content %}

<div class="container">

    <main class="pt-5">

        <div class="row g-3">

            <div class="col-md-5 col-lg-5 order-md-first bg-light">
            
                {% if product.images.all %}
              
                {% for image in product.images.all %}
                <p> There are images</p>
                    <img class="img-fluid" alt="Responsive image" src="{{ image.image.url }}">
                {% endfor %}
            {% else %}
            
                <img class="img-fluid" alt="Responsive image" src="{% static 'placeholder.jpg' %}">
            {% endif %}
            
            </div>

            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">

                <h1 class="mb-0 h4"> {{ product.title }}  </h1>

                <strong> {{ product.brand }} </strong>
                

                <hr>

                <br>
                

                <p> {{ product.description }} </p>

                <div class="border">

                    <div class="col border-bottom">

                        <div class="row p-3">

                            <div class="col-6"> Price </div>

                            <div class="col-6 text-end"><span class="h4 fw-bold">$ {{ product.price }} </span></div>

                        </div>

                    </div>

                    
                    <div class="col border-bottom">
                        <div class="row p-3">

                           
                            <div class="col-6 text-start">

                                {% if user.is_authenticated %}
                                <a href="{% url 'product-review' product_id=product.id %}" class="btn btn-primary mt-3">Write a review</a>
                                {% else %}
                                <p>Login to you account to write a review</p>
                                {% endif %}
                                

                            </div>
                        </div>
                    </div>
                        <div class="col border-bottom">
                            <div class="row p-3">
                                
                                    <div class="col-6 text-start">

                                        <p>Show seller contact details</p>
                                

                                    </div>
                                </div>
                            </div>
                            <div class="row p-3">
                                
                                    <div class="col-6 text-start">
                                        <a href="{% url 'create-message' product_slug=product.slug %}">Send message about {{ product.title }}</a>
                                
                                </div>
                            </div>
                        

                    

                </div>

            </div>

        </div>

    </main>

    <br>
    <h2>Reviews</h2>
    {% if reviews %}
        <ul>
            {% for review in product.reviews.all %}
            <div>
                <p>Rating: {{ review.rating }}</p>
                <p>Content: {{ review.content }}</p>
                <!-- Show edit button only if the current user is the author of the review -->
                {% if user.is_authenticated and review.author == user %}
                <a href="{% url 'edit-review' review_id=review.pk %}" class="btn btn-primary">Edit Review</a>
                {% endif %}
            </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No reviews available for this product yet.</p>
    {% endif %}

</div>


<script>

 



</script>



{% endblock %}