
{% extends "./base.html" %}

{% load static %}

{% block content %}

<div class="container">

    <main class="pt-5">

        <div class="row g-3">

            <div class="col-md-5 col-lg-5 order-md-first bg-light">
            
                {% if product.images.all %}
              
                {% for image in product.images.all %}
                <p> There are images</p>
                    <img class="img-fluid" alt="Responsive image" src="{{ image.image.url }}">
                {% endfor %}
            {% else %}
            
                <img class="img-fluid" alt="Responsive image" src="{% static 'placeholder.jpg' %}">
            {% endif %}
            
            </div>

            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">

                <h1 class="mb-0 h4"> {{ product.title }}  </h1>

                <strong> {{ product.brand }} </strong>
                

                <hr>

                <br>
                <a href="{% url 'create-message' product_slug=product.slug %}">Send message about {{ product.title }}</a>

                <p> {{ product.description }} </p>

                <div class="border">

                    <div class="col border-bottom">

                        <div class="row p-3">

                            <div class="col-6"> Price </div>

                            <div class="col-6 text-end"><span class="h4 fw-bold">$ {{ product.price }} </span></div>

                        </div>

                    </div>

                    <div class="col">
              
                        <div class="row p-3">
              
                            <div class="col-6">
              
                               
                                <label for="select">Qty</label>
                                
                                &nbsp; 
                               
                                <select id="select">
              
                                    <option value="1">1</option>
              
                                    <option value="2">2</option>
              
                                    <option value="3">3</option>
              
                                    <option value="4">4</option>
              
                                </select>

                            </div>

                            <div class="col-6 text-end">
                                
                                <button type="button" id="add-button" value="{{product.id}}" class="btn btn-secondary btn-sm">
                        
                                    <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Add to cart 
                            
                                </button> 

                                <a href="{% url 'product-review' product_id=product.id %}" class="btn btn-primary mt-3">Write a review</a>
                            

                            </div>
                        
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </main>

    <br>
    <h2>Reviews</h2>
    {% if reviews %}
        <ul>
            {% for review in product.reviews.all %}
            <div>
                <p>Rating: {{ review.rating }}</p>
                <p>Content: {{ review.content }}</p>
                <!-- Show edit button only if the current user is the author of the review -->
                {% if user.is_authenticated and review.author == user %}
                <a href="{% url 'edit-review' review_id=review.pk %}" class="btn btn-primary">Edit Review</a>
                {% endif %}
            </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No reviews available for this product yet.</p>
    {% endif %}

</div>


<script>

    // Add button

    $(document).on('click', '#add-button', function(e){

        e.preventDefault();

        $.ajax({

            type: 'POST',
            url: '{% url "cart-add" %}',
            data: {

                product_id: $('#add-button').val(),
                product_quantity: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'

            },

            success: function(json){

                //console.log(json)

                document.getElementById("cart-qty").textContent = json.qty


            },

            error: function(xhr, errmsg, err){


            }

        });


    })




</script>



{% endblock %}