<!-- submit_review.html -->
{% extends "./base.html" %}
{% load static %}

{% block content %}

<style>
    body {
        background-color: lightgray;
    }
</style>

<body>
    <div class="container text-center bg-white shadow-md p-5 form-layout" style="margin-top: 5rem;">
        <h1>Submit Review</h1>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <!-- Star rating input -->

            <fieldset>
                <legend>Your rating:</legend>
                <div class="rate">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>

            </fieldset>
            <!-- Review content -->
            <div>

                <legend>Your review</legend>
                <textarea id="review_content" maxlength="99" name="content" rows="4" cols="50"
                    style="resize:none;"></textarea>
            </div>
            <br>
            <button class="btn btn-primary navbar-btn text-white" type="submit">Submit Review</button>
        </form>
    </div>
</body>
{% endblock %}

{% block scripts %}

{% endblock %}