{% include "store/base.html" %}

{% load static %}


{% load crispy_forms_tags %}



{% block content %}

    <style>


        body{


            background-color: lightgray;

        }



    </style>

    <body>
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
        <br>

        <div class="container bg-white shadow-md p-5 form-layout">
            

            <h3> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Product Update </h3>

            <p> Update the product details </p>

            <hr>

            <br>

            <form action="" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                {{ form|crispy }} <!-- Render the main form -->
                
            <br>

            <br>
            
            {% for image_form in formset %}
         
            <div class="card mb-3">
                <div class="card-body">
                    <!-- Render form fields for the image -->
                    {{ image_form.as_p|safe }}
        
                    {% if image_form.instance.pk %}
                        <!-- Existing image information -->
                        <img src="{{ image_form.instance.image.url }}" class="img-fluid mt-3" alt="Current Image">
                        <div class="form-group mt-3">
                            <!-- Provide option to delete the image -->
                            <label class="form-check-label mr-3">
                                <input type="checkbox" name="{{ image_form.DELETE_FIELD_NAME }}" class="form-check-input">
                                Delete Current Image
                            </label>
                        </div>
                        <!-- Provide option to change the image -->
                        <div class="input-group mb-3">
                            <!-- Manually create the file input -->
                            <input type="file" class="form-control" id="{{ image_form.image.id_for_label }}" name="{{ image_form.image.html_name }}" style="display: none;" onchange="updateFilename(this)">
                            <!-- Custom button to trigger file input -->
                            <div class="input-group-prepend">
                                <button class="btn btn-primary" type="button" onclick="document.getElementById('{{ image_form.image.id_for_label }}').click()">Change Image</button>
                            </div>
                            <!-- Container to display the filename -->
                            <span class="input-group-text" id="filename-preview-{{ image_form.image.id_for_label }}"></span>
                        </div>
                    {% else %}
                        <!-- New image form fields -->
                        <input type="file" class="form-control mb-3" id="{{ image_form.image.id_for_label }}" name="{{ image_form.image.html_name }}" style="display: none;" onchange="updateFilename(this)">
                        <div class="input-group-prepend">
                            <button class="btn btn-primary" type="button" onclick="document.getElementById('{{ image_form.image.id_for_label }}').click()">Upload New Image</button>
                        </div>
                        <!-- Container to display the filename -->
                        <span class="input-group-text" id="filename-preview-{{ image_form.image.id_for_label }}"></span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

            <form action="" method="post" enctype="multipart/form-data">
             
                
               
               <br>



                <br>


                <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2"> Update product </button>



            </form>



        </div>

     

    </body>

    <br> <br>

    <script>
        function updateFilename(input) {
            var filenamePreviewId = "filename-preview-" + input.id;
            var filenamePreview = document.getElementById(filenamePreviewId);
    
            if (input.files && input.files[0]) {
                var filename = input.files[0].name;
                var truncatedFilename = filename.substring(0, 10); // Get first 10 characters
                filenamePreview.textContent = truncatedFilename;
            } else {
                filenamePreview.textContent = "";
            }
        }
    </script>


{% endblock %}

